{% extends "layout.html" %}

{% block title_tag %}Forgot Yor Password? | {{ block.super }}{% endblock %}

{% block body_content %}
<div class="container">
	<h1> Forget your password? </h1>
	<p>oh no! to the best of us, Enter the email address that's associated with your account and we'll send you instructions on how you can change your password.</p>
	
	<form method="POST">
	  {% csrf_token %}
	  {{ form.as_p}}
	   <input type="submit" vlaue="Send me instructions!" class="btn btn-info btn-lg">
	</form>
</div>
{% endblock %}