{% extends "layout.html" %}



{% block body_content %}
<div class="jumbotron text-center b">
	<h1>My Learning App</h1>
	<h3>Learn Something New Every Day</h3>
	<p style="padding-top: 3cm">
		<strong>{% if user.is_authenticated %}</strong>
  			Hi {{ user.username }}!
  			<p>
  				<a href="{% url 'random_links:detail' %}" class="btn btn-info btn-lg">Today's Link</a>
  				<a href="{% url 'random_links:list' %}" class="btn btn-info btn-lg">History</a>
  			</p>
  		<p><a href="{% url 'logout' %}" class="btn btn-default btn-lg">logout</a></p>
			{% else %}
			<a href="#" class="btn btn-default btn-lg">Sign in</a> or
 			<a href="{% url 'login' %}" class="btn btn-default btn-lg">Login</a>
			{% endif %}
	</p>
</div>

{% endblock %}