{% extends "layout.html" %}

{% block title_tag %}My learning App {% endblock %}




{% block body_content %}
<div class="jumbotron text-center b">
	<h1>My Learning App</h1>
	<h3>Learn Something New Every Day</h3>
	<p style="padding-top: 3cm">
		<strong>{% if user.is_authenticated %}</strong>
  			Hi {{ user.username }}!
  			<p>
  				<a href="{% url 'random_links:detail' %}" class="btn btn-primary btn-lg">Did you know?</a>
  				<a href="{% url 'random_links:list' username=user.username %}" class="btn btn-primary btn-lg">History</a>
  			</p>
  		<p><a href="{% url 'accounts:logout' %}" class="btn btn-primary btn-lg">Logout</a></p>
			{% else %}
			<a href="{% url 'accounts:signup' %}" class="btn btn-primary btn-lg">Sign Up</a> or
 			<a href="{% url 'accounts:login' %}" class="btn btn-primary btn-lg">Login</a>
			{% endif %}
	</p>
</div>

{% endblock %}